<div class="general-container">
  <div class="close-dialog">
    <button (click)="closeDialog()">
      <img src="../../../assets/svg/close-icon.svg" alt="Volver" />
    </button>
  </div>
  <div class="login-image">
    <img src="../../../assets/images/Banner Cursos Logo.svg" alt="Impronta" />
  </div>

  <div class="container-login">
    <div class="title">
      <h1>Iniciar Sesión</h1>
    </div>
    <div class="inputs">
      <div class="input-user">
        <label for="">Usuario</label>
        <div class="input-user-space">
          <img src="../../../assets/svg/user-input-icon2.svg" alt="Usuario">
          <input type="text">
        </div>
      </div>
      <div class="input-user">
        <label for="">Contraseña</label>
        <div class="input-user-space">
          <img src="../../../assets/svg/password-input-icon2.svg" alt="Contraseña">
          <input type="password">
        </div>
      </div>
    </div>
    <div class="redirect-link">
      <p>¿Aun no tienes cuenta? </p>
      <a href="">Registrate</a>
    </div>
    <div class="btn-login">
      <button>Ingresar</button>
    </div>
  </div>
</div>
