<div class="main-container">
  <div>
    <a href="https://www.facebook.com/profile.php?id=100092769836857" target="_blank">
      <img src="../../../assets/svg/facebook-icon.svg" alt="facebook-icon" width="20vh">
    </a>
    <a href="https://instagram.com/fundacionimpronta.bienestar?igshid=MmU2YjMzNjRlOQ==" target="_blank">
      <img src="../../../assets/svg/instagram-icon.svg" alt="instagram-icon" width="20vh">
    </a>
    <a href="https://wa.me/message/N2CV3DRLJ7NUI1" target="_blank">
      <img src="../../../assets/svg/whatsapp-icon.svg" alt="facebook-icon" width="20vh">
    </a>
  </div>
</div>
