* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'IsidoraBlack';
  src: url('../../../assets/fonts/Isidora Soft Black.otf');
}

@font-face {
  font-family: 'IsidoraSemiBold';
  src: url('../../../assets/fonts/IsidoraSansSemiBold.otf');
}

body{
  margin: 0;
}

strong{
  font-family: 'IsidoraBlack';
}

.title-social-project{
  text-align: center;
  font-family: 'IsidoraBlack';
  font-size: 1.2em;
  background-color:#AFB800;
  color: white;
  padding: 3% 0%;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .title-social-project{
    font-size: 1.9em;
    padding: 3%;
  }
}

@media screen and (min-width: 64em) {
  .title-social-project{
    font-size: 1.9em;
    padding: 3%;
  }
}

