<div class="history-container">
  <div class="history-info">
    <div class="history-title">
      <h2>Historia</h2>
    </div>
    <div class="history-text">
      <p>
        La fundación parte de un
        <strong>sentido social arraigado a Impronta</strong>, por ello se dedica
        un espacio para aquellos que merecen tener una
        <strong>red de apoyo.</strong>
      </p>
    </div>
  </div>
  <div class="history-logo">
    <img src="../../../assets/images/historia.svg" alt="Historia">
  </div>
</div>
