<div class="history-container">
  <div class="history-info">
    <div class="history-title">
      <h2>Historia</h2>
    </div>
    <div class="history-text">
      <p>
        Entendiendo que la Impronta es el Rasgo peculiar y distintivo que una
        persona deja en sus obras y que las distingue de otras, emerge la
        fundación ante la intención de que esta se configure como un escenario
        que impulse el <strong>diseño de programas</strong> y <strong>proyectos de extensión y proyección
          social</strong>  a favor de nuestra axial: El programa <strong>TRICICLO</strong>, el cual nos da un
        precepto para nuestro funcionamiento inspirado en la estructura mecánica
        de los triciclos: Tres ruedas: Adulto Mayor, Primera infancia,
        Poblaciones vulnerables por circunstancias de vida Dos pedales: Salud
        física – Salud mental (los dos en conexidad con las habilidades para la
        vida).
      </p>
    </div>
  </div>
  <div class="history-logo">
    <img src="../../../assets/images/historia.svg" alt="Historia" />
  </div>
</div>

<div class="title-our-essence">
  <h2>Nuestra Esencia</h2>
</div>

<div class="tricycle-container">
  <div class="tricycle-info">
    <div class="tricycle-title">
      <h1>Triciclo</h1>
    </div>
    <div class="tricycle-text">
      <p>
        Es nuestra esencia, puesto que nuestra razón social se moviliza en torno
        a <strong>tres ruedas y dos pedales.</strong> Queremos convertirlo en un
        lenguaje donde...
      </p>
    </div>
    <div class="tricycle-more-info-btn">
      <button (click)="toogleTricycleInfo()">{{ textBtnReadMore }}</button>
    </div>
  </div>
</div>
<div
  class="general-tricycle-container"
  [class.activeGeneralTricycleContainer]="activeTricycleInfo"
>
  <div class="tri-container">
    <div class="tri-image">
      <img
        src="../../../assets/images/Tri-imagen.svg"
        alt="Tri: Tejiendo Redes Integrales"
      />
    </div>
    <div class="tri-info">
      <div class="tri-title">
        <h2>Tri: Tejiendo Redes Integrales</h2>
      </div>
      <div class="tri-description">
        <p>
          Enfocado a movilizar programas y proyectos a favor del adulto mayor.
        </p>
      </div>
      <div class="tri-allies">
        <div class="tri-allies-title">
          <h3>Aliados:</h3>
        </div>
        <ul>
          <li>Técnico Laboral en Asistencia Geriátrica de IMPRONTA.</li>
          <li>Técnico Laboral en Entrenamiento Deportivo de IMPRONTA.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="separator-container">
    <div class="separator-image">
      <img
        src="../../../assets/svg/Triciclo-image.svg"
        alt="Fundación Impronta"
      />
    </div>
    <hr />
  </div>
  <div class="ci-container">
    <div class="ci-info">
      <div class="ci-title">
        <h2>Ci: Construyendo integración</h2>
      </div>
      <div class="ci-description">
        <p>
          Enfocado a movilizar programas y proyectos a favor de las poblaciones
          vulnerables por circunstancias de vida o situaciones particulares.
        </p>
      </div>
      <div class="ci-allies">
        <div class="ci-allies-title">
          <h3>Aliados:</h3>
        </div>
        <ul>
          <li>Técnico Laboral en Enseñanza especial de IMPRONTA.</li>
          <li>Técnico Laboral en Entrenamiento Deportivo de IMPRONTA</li>
        </ul>
      </div>
    </div>
    <div class="ci-image">
      <img
        src="../../../assets/images/Ci-image.svg"
        alt="Ci: Construyendo integración"
      />
    </div>
  </div>
  <div class="separator-two-container">
    <div class="separator-two-image">
      <img
        src="../../../assets/svg/Triciclo-image.svg"
        alt="Fundación Impronta"
      />
    </div>
    <hr />
  </div>
  <div class="clo-container">
    <div class="clo-image">
      <img
        src="../../../assets/images/Clo-image.svg"
        alt="Clo: Cultivando los Origenes"
      />
    </div>
    <div class="clo-info">
      <div class="clo-title">
        <h2>Clo: Cultivando los Origenes</h2>
      </div>
      <div class="clo-description">
        <p>
          Enfocado a movilizar programas y proyectos a favor de la primera
          infancia.
        </p>
      </div>
      <div class="clo-allies">
        <div class="clo-allies-title">
          <h3>Aliados:</h3>
        </div>
        <ul>
          <li>
            Técnico Laboral en Atención a la Primera Infancia de IMPRONTA.
          </li>
          <li>Técnico Laboral en Entrenamiento Deportivo de IMPRONTA.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tricycle-structure-container">
    <div class="phrase-and-logo">
      <div class="phrase">
        <p>De allí el significado sumamente representativo del triciclo:</p>
      </div>
      <div class="logo">
        <img src="../../../assets/svg/Triciclo-image.svg" alt="Triciclo" />
      </div>
    </div>
    <div class="wheels-and-pedals">
      <div class="wheels">
        <div class="wheels-title">
          <h4>Nuestras ruedas</h4>
        </div>
        <div class="wheels-text">
          <p>
            Primera infancia, adulto mayor y poblaciones vulnerables por
            condiciones o situaciones particulares.
          </p>
        </div>
      </div>
      <div class="pedals">
        <div class="pedals-title">
          <h4>Nuestros pedales</h4>
        </div>
        <div class="pedals-text">
          <p>
            La salud física y mental en relación con las habilidades para la
            vida.
          </p>
        </div>
      </div>
    </div>

    <div class="habilities-container">
      <div class="habilities-phrase">
        <p>Habilidades de las cuales se destacan:</p>
      </div>
      <div class="habilities">
        <div class="hability emotional">
          <div class="hability-title">
            <h4>Habilidades emocionales</h4>
          </div>
          <ul>
            <li>Empatia.</li>
            <li>Manejo de emociones y sentimientos.</li>
            <li>Manejo de tensión y estres.</li>
          </ul>
        </div>
        <div class="hability social">
          <div class="hability-title">
            <h4>Habilidades sociales</h4>
          </div>
          <ul>
            <li>Comunicación asertiva.</li>
            <li>Relaciones interpersonales.</li>
            <li>Manejo de problemas y conflictos.</li>
          </ul>
        </div>
        <div class="hability cognitive">
          <div class="hability-title">
            <h4>Habilidades cognitivas</h4>
          </div>
          <ul>
            <li>Autoconocimiento.</li>
            <li>Toma de decisiones.</li>
            <li>Pensamiento creativo.</li>
            <li>Pensamiento critico.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="color-container">
    <div class="color-info">
      <div class="color-title">
        <h2>Color</h2>
      </div>
      <div class="color-text">
        <p>
          Para el correcto desarrollo de los
          <strong>proyectos sociales</strong> es necesario tener un eje
          operativo principal, de aqui surge el nombre de
          <strong>COLOR.</strong>
        </p>
      </div>
    </div>
    <div class="to-sa-bri-container">
      <div class="to-sa-bri tone">
        <div class="color-box tone-box"></div>
        <div class="to-sa-bri-info">
          <div class="to-sa-bri-title">
            <h3>Tono</h3>
          </div>
          <div class="to-sa-bri-description">
            <p>
              Este concepto va relacionado con el matiz el cual de por si se
              describe como la Calidad que describe el color, por ende se puede
              asociar directamente a una de las 3 ruedas, para este caso mejorar
              la Calidad de vida del adulto mayor.
            </p>
          </div>
        </div>
      </div>
      <div class="to-sa-bri saturation">
        <div class="color-box saturation-box"></div>
        <div class="to-sa-bri-info">
          <div class="to-sa-bri-title">
            <h3>Saturación</h3>
          </div>
          <div class="to-sa-bri-description">
            <p>
              Debido a que la saturación va de la mano con la pureza del color se
              realizó una asociación con la Integridad, para este contexto social
              se enfoca específicamente en mantener la Integridad de la primera
              infancia.
            </p>
          </div>
        </div>
      </div>
      <div class="to-sa-bri glow">
        <div class="color-box glow-box"></div>
        <div class="to-sa-bri-info">
          <div class="to-sa-bri-title">
            <h3>Brillo</h3>
          </div>
          <div class="to-sa-bri-description">
            <p>
              Finalmente se habla del brillo del color el cual hace énfasis en la
              intensidad del mismo, lo cual transformado al ámbito social de
              nuestras ruedas tiene la principal tarea aumentar el Nivel de
              energía de las personas vulnerables por situaciones ajenas, mediante
              la minimización de enfermedades mentales y físicas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-show-less">
    <button (click)="toogleTricycleInfo()">{{ textBtnReadMore }}</button>
  </div>
</div>

<div class="team-container">
  <div class="info-team">
    <div class="title-team">
      <h2>Fundadores</h2>
    </div>
    <div class="text-team">
      <ul class="names">
        <li
          *ngFor="let founder of founders"
          (click)="toogleNamePerson(founder.id)"
        >
          {{ founder.name }}
        </li>
      </ul>
    </div>
  </div>
  <div [class.activeCard]="activeCardPersonalInfo" class="personal-container">
    <div class="hide-personalcard">
      <div class="personal-name">
        <h3>{{ name }}</h3>
      </div>
      <button>
        <img
          (click)="toogleCardPerson()"
          src="../../../assets/svg/back-row-icon.svg"
          alt="Ocultar"
          width="5%"
        />
      </button>
    </div>
    <div class="content-card">
      <div class="personal-info">
        <div class="personal-description">
          <p>{{ description }}</p>
        </div>
      </div>
      <div class="personal-photo">
        <img [src]="photo" alt="User" width="30%" />
      </div>
    </div>
  </div>
</div>
.
