<div *ngIf="data.type === 'project'" class="general-container-info-project">
  <div class="close-dialog">
    <button (click)="closeDialog()">
      <img src="../../../assets/svg/close-icon.svg" alt="Volver" />
    </button>
  </div>
  <div class="title-project-info">
    <h1>{{ data.project.title }}</h1>
  </div>
  <div class="project-video">
    <iframe
      [src]="getCurrentVideoUrl()"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="sub-topic init-sub-topic">
    <h2>Descripción:</h2>
    <p>{{ data.project.description }}</p>
  </div>
  <div class="sub-topic">
    <h2>Problematica:</h2>
    <p>{{ data.project.problematic }}</p>
  </div>
  <div class="sub-topic">
    <h2>Impacto:</h2>
    <p>{{ data.project.proposal }}</p>
  </div>
  <div *ngIf="data.project.project_type === 'extension'" class="sub-topic">
    <h2>Presupuesto para ejecutar el proyecto:</h2>
    <p>{{ data.exp_budget }}</p>
  </div>
  <div
    *ngIf="data.project.project_type === 'extension'"
    class="project-progress-bar"
  >
    <h2>Presupuesto actual:</h2>
    <div class="progress-title"></div>
    <progress [value]="data.progress" max="100"></progress>
    <div class="progress-text">
      {{ data.curr_budget }} /
      {{ data.exp_budget }}
    </div>
  </div>
  <div class="btn-donation end-sub-topic">
    <button
      (click)="sendData()"
      [routerLink]="['/donaciones']"
      routerLinkActive="active"
    >
      Donar
    </button>
  </div>
</div>

<div *ngIf="data.type === 'course' && subscriptionActiveForm === false" class="course-general-container">
  <div class="close-dialog">
    <button (click)="closeDialog()">
      <img src="../../../assets/svg/close-icon.svg" alt="Volver" />
    </button>
  </div>
  <div class="course-image">
    <img [src]="data.course.image" [alt]="data.course.name" />
  </div>
  <div class="text-content">
    <h3>Contenido programatico:</h3>
    <ul>
      <li *ngFor="let module of data.modules">{{ module }}</li>
    </ul>
    <h3>Función sustantiva:</h3>
    <p>{{ data.course.substantive_function }}</p>
    <h3>Valor:</h3>
    <p>{{ data.course.value | currency : "COP" : " $" : "1.0-0" }}</p>
  </div>
  <div class="btn-subscription">
    <button (click)="viewForm()">Inscribete</button>
  </div>
</div>

<div *ngIf="subscriptionActiveForm === true" class="subscription-form">
  <div class="close-dialog">
    <button (click)="closeDialog()">
      <img src="../../../assets/svg/close-icon.svg" alt="Volver" />
    </button>
  </div>
  <div class="header-subscription-container">
    <h1>Inscripción</h1>
    <p><strong>Curso: </strong>{{data.course.name}}</p>
  </div>
  <div class="info-container">
    <p>
      Ingresa correctamente tus datos personales.<br> Estos serán los que aparezcan en
      tu certificado.
    </p>
  </div>
  <div class="input-container">
    <label for="firstName">Nombres:</label>
    <input
      type="text"
      name="firstName"
      required
      placeholder="Ej: Luis Fernando"
    />
  </div>
  <div class="input-container">
    <label for="lastName">Apellidos:</label>
    <input type="text" name="lastName" placeholder="Ej: Sandoval Parra" required />
  </div>
  <div class="input-container">
    <label for="identificationType">Tipo de Documento:</label>
    <select name="identificationType" required>
      <option disabled selected value="">
        Seleccione el tipo de documento
      </option>
      <option value="CC">Cédula de Ciudadanía</option>
      <option value="CE">Cédula de Extranjería</option>
      <option value="PP">Pasaporte</option>
      <option value="TI">Tarjeta de Identidad</option>
      <option value="DNI">Documento Nacional de Identidad</option>
    </select>

  </div>
  <div class="input-container">
    <label for="identificationNumber">Nro de Documento:</label>
    <input type="number" name="identificationNumber" placeholder="Ej: 1193124757" required>
  </div>
  <div class="input-container">
    <label for="identificationExpeditionPlace">Lugar de expedición:</label>
    <input type="text" name="identificationExpeditionPlace" placeholder="Ej: Socorro - Santander">
  </div>
  <div class="input-container">
    <label for="email">Correo:</label>
    <input type="email" name="email" placeholder="Ej: luisandoval@correo.com" required>
  </div>
  <div class="input-container">
    <label for="">Profesión:</label>
    <input type="text" name="profession" placeholder="Ej: Ingeniero ambiental" required>
  </div>
  <div class="btn-send">
    <button>Inscribirse</button>
  </div>
</div>
