<app-slider></app-slider>
<div class="container">
  <div data-aos="fade-right" data-aos-duration="800" class="logo-phrase">
    <div class="logo">
      <img src="../../../assets/images/Triciclo.png" alt="Triciclo" />
    </div>
    <hr />
    <h2>Reconociendo, empoderando y resignificando.</h2>
  </div>

  <div class="title-container" data-aos="flip-up" data-aos-duration="800">
    <div class="title">
      <h1>Fundación Impronta</h1>
    </div>
  </div>
  <div class="info-container">
    <div class="image" data-aos="fade-right" data-aos-duration="800">
      <img src="../../../assets/images/boy.png" alt="Fundación Impronta" />
    </div>
    <div class="description-part-one" data-aos="fade-left" data-aos-duration="800">
      <p>
        La Fundación Impronta es una institución de utilidad común y sin ánimo
        de lucro, tiene un carácter permanente, independiente y autónomo, la
        principal motivación de la fundación es contribuir al mejoramiento de la
        calidad de vida de la población en tres ciclos de vida: primera
        infancia, adolescencia y vejez, desarrollando acciones orientadas al
        bienestar psicológico, físico y mental de dichos grupos específicos.
      </p>
      <div class="container-btn">
        <button (click)="toogleDescriptionBtn()">
          <img src="{{ urlShowMoreDescriptionBtn }}" alt="Ver mas" />
        </button>
      </div>
    </div>
    <div [class.active]="showMoreDescription" class="description-part-two">
      <p>
        Para lograr sus fines, implementa proyectos educativos, sociales,
        deportivos, recreativos, culturales y terapéuticos. La Fundación
        Impronta puede realizar actividades como la organización de eventos,
        sociarse con otras entidades sin ánimo de lucro, apoyar proyectos afines
        a sus propósitos, diseñar mecanismos de financiación, desarrollar
        programas y proyectos para el desarrollo personal y social de la
        población objetivo, y realizar otras actividades económicas relacionadas
        con su objeto social.
      </p>
    </div>
  </div>
</div>

<div class="mision-container">
  <div class="mision-logo">
    <button (click)="showTextMision()" data-aos="zoom-in-up" data-aos-duration="800">
      <img src="../../../assets/images/mision.png" alt="Mision" />
    </button>
  </div>
  <div [class.activeMision]="showTextMisionActive" class="mision-info" data-aos="zoom-in-left" data-aos-duration="800">
    <p>
      Diseñar, aplicar y evaluar en pro de la mejora continua,
      <strong>programas y proyectos</strong> que busquen movilizar la vida
      <strong>de las poblaciones vulnerables</strong>
      tanto por el ciclo vital como por sus circunstancias de vida.
    </p>
  </div>
</div>
<div class="vision-container">
  <div [class.activeVision]="showTextVisionActive" class="vision-info" data-aos="zoom-in-right" data-aos-duration="800">
    <p>
      Para el 2030 ser considerados un <strong>referente</strong> en torno al
      <strong>diseño de programas y proyectos de índole social</strong>
      dirigidos a movilizar la <strong>salud física y mental</strong> en
      relación con las <strong>habilidades para la vida,</strong> de las
      poblaciones vulnerables tanto por el ciclo vital como por sus
      circunstancias de vida.
    </p>
  </div>
  <div class="vision-logo">
    <button (click)="showTextVision()" data-aos="zoom-in-up" data-aos-duration="800">
      <img src="../../../assets/images/Vision.png" alt="Mision" />
    </button>
  </div>
</div>

<div class="general-objetive-container">
  <div class="general-objetive-info">
    <div class="general-objetive-title" data-aos="fade-left" data-aos-duration="800">
      <h2>Objetivo General</h2>
    </div>
    <div class="general-objetive-text" data-aos="zoom-in-left" data-aos-duration="800">
      <p>
        Dinamizar programas y proyectos que favorezcan,
        <strong>procesos transformadores</strong>
        de índole circular para la <strong>salud y física y mental</strong> en
        relación con las habilidades para la vida, de las poblaciones
        vulnerables tanto por el ciclo vital como por sus circunstancias de
        vida.
      </p>
    </div>
  </div>
  <div class="general-objetive-logo" data-aos="zoom-in-up" data-aos-duration="800">
    <img
      src="../../../assets/images/objetivo-general.svg"
      alt="Objetivo general"
    />
  </div>
</div>

<div class="accordion" data-aos="flip-down" data-aos-duration="800">
  <div class="accordion-item" *ngFor="let item of accordionItems">
    <div class="accordion-header" (click)="toogleAccordion(item)">
      <h3>{{item.title}}</h3>
    </div>
    <div class="accordion-content" [ngClass]="{'open': item.open}">
      <div class="content-text">
        <p>{{item.text}}</p>
      </div>
      <div class="content-image">
        <img [src]="item.image" [alt]="item.title" width="50%">
      </div>
    </div>
  </div>
</div>

<div class="title-strategic-allies" data-aos="flip-right" data-aos-duration="800">
  <h2>Aliados estrategicos</h2>
</div>

<div class="sponsors-container" data-aos="fade-left" data-aos-duration="800">
  <div class="slide-track">
    <div *ngFor="let patner of patners" class="slide">
      <a [href]="patner.url_page" target="_blank">
        <img
        [src]="patner.url_image"
        height="{{patner.image_proportion}}"
        [alt] = "patner.name"
      />
      </a>
    </div>
    <div *ngFor="let patner of patners" class="slide">
      <a [href]="patner.url_page" target="_blank">
        <img
        [src]="patner.url_image"
        height="{{patner.image_proportion}}"
        [alt] = "patner.name"
      />
      </a>
    </div>
</div>
