<div class="banner-container">
  <div class="impronta-logo">
    <img src="../../../assets/images/Banner Cursos Logo.svg" alt="Formación en salud">
  </div>
  <div class="btns-courses-container">
    <div class="courses-social-proyection">
      <img src="../../../assets/images/Banner Cursos-03.svg" alt="Proyección social">
      <h1>Cursos Proyección Social</h1>
    </div>
    <div class="courses-professional-formation">
      <img src="../../../assets/images/Banner Cursos-04.svg" alt="Profesional">
      <h1>Formación Profesional</h1>
    </div>
  </div>
</div>
