*{
  padding: 0;
  margin: 0;
}

*.slider{
  width: 100%;
  height: auto;
  background-color: rgb(255, 244, 25);
  margin: auto;
  overflow: hidden;
  .container{
    display: grid;
    width: 100%;
    //grid template (Se debe poner un 100% de acuerdo a la cantidad de imagenes)
    grid-template-columns: 100% 100% 100%;
    animation-name: mover;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    img{
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

@keyframes mover{
  25%{
    margin-left: 0%;
  }
  28%{
    margin-left: -100%;
  }
  54%{
    margin-left: -100%;
  }
  58%{
    margin-left: -200%;
  }
  84%{
    margin-left: -200%;
  }
  85%{
    margin-left: -100%;
  }
  100%{
    margin-left: 0%;
  }
}
