<div class="contact-container">
  <div class="contact-title">
    <h1 data-aos="fade-down" data-aos-duration="1000">Contáctanos</h1>
  </div>
  <div class="contact-info-container">
    <div class="map-location" data-aos="fade-right" data-aos-duration="1000">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d992.787110367601!2d-73.34928033049343!3d5.544997034481868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7c385f596d5f%3A0xf1eb9bf8a1a6352e!2sAv%20Universitaria%20%2338%2C%20Tunja%2C%20Boyac%C3%A1!5e0!3m2!1ses!2sco!4v1690237687541!5m2!1ses!2sco"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="direction">
        <img src="../../../assets/svg/location-icon.svg" alt="Ubicación">
        <p>Av. Universitaria No. 38 - 46, Piso 4. Tunja (Boyacá).</p>
      </div>
    </div>
    <div class="contact-form" data-aos="fade-left" data-aos-duration="1000">
      <div class="title-form">
        <h2>FORMULARIO DE CONTACTO</h2>
      </div>
      <form #myForm ="ngForm" (ngSubmit)="validateForm(myForm)">
        <input type="text" name="name" [(ngModel)]="name" placeholder="Nombre" required/>
        <input type="number" name="phone" [(ngModel)]="phone" placeholder="Telefono" required/>
        <input type="text" name="emailUser" [(ngModel)]="emailUser" placeholder="Email" required/>
        <textarea name="message" cols="21" rows="10" name="message" [(ngModel)]="message" placeholder="Mensaje" required></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
  <div class="aditional-info">
    <div class="phone" data-aos="fade-right" data-aos-duration="1000">
      <img src="../../../assets/svg/phone-white-icon.svg" alt="Telefono">
      <p>311 889 9277</p>
    </div>
  </div>
</div>
