@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "node_modules/aos/src/sass/aos.scss";

body {
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
  &.green-snackbar {
    --mdc-snackbar-container-color: rgb(49, 224, 0);
    --mat-mdc-snack-bar-button-color: rgb(220, 0, 224);
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.red-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
