@font-face {
  font-family: 'IsidoraBlack';
  src: url('./assets/fonts/Isidora Soft Black.otf');
}

@font-face {
  font-family: 'IsidoraSemiBold';
  src: url('./assets/fonts/IsidoraSansSemiBold.otf');
}

body{
  margin: 0;
}
